.nav {
  display: flex;
  justify-content: space-between;
}

.spot {
    width: 50%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5vmin;
    padding: 3vmin;
    /* border: .2vmin solid var(--tan-3); */
    border-radius: 1vmin;
    font-size: 2vmin;
    /* cursor: pointer; */
  }

  .show {
    display: block;
  }

  .hidden {
    display: none;
  }

  .label {
    font-weight: bold;
  }

  .button {
    cursor: pointer;
    border-radius: .5vmin;
    margin: .4vmin;
  }